<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">




<title>Погода</title>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Zaharchik</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Головна</a>
    <a class="p-2 text-dark" href="#">Про нас</a>

  </nav>
  <a class="btn btn-outline-primary" href="#">Справка</a>
</div>
<div class="container mt-5">
    <div class="row">
<div class="col-4 offset">
    <h1>Погода у місті</h1>

    {% for info in all_info %}
    <form action="" method="post">
        </form>
        {% csrf_token %}
        <label for="city">Місто</label>
        {{ form.name }}

        <input type="submit" name="send" value="Додати" class="mt-2 btn btn-primary">


    </div>

    <div class="col-5 offset-1">
        <h1>Інформація</h1>

        <div class="alert alert-info">
            <div class="row">
                <div class="col-9">

            <b>Місто</b>{{ info.city }}<br>
            <b>Температура:</b>{{ info.temp }}<sup>0</sup><br>

           <img src="https://openweathermap.org/img/w/{{ info.icon }}.png" alt="Іконка" class="">
                      {% endfor %}


                </div>
            </div>
        </div>
            </div>
                </div>

    </body>






